<?xml version="1.0" encoding="utf-8"?>
<odoo>
	
    <menuitem name="Imforme"
            id="informe_caja"
            parent = "main_menu_caja_chica"
            sequence='8'
           />

    <menuitem name="Caja Dolar"
            id="main_caja"
            parent = "main_menu_caja_chica"
            sequence='7'
           />
    <menuitem 
        id="main_menu_caja_chica"
        name="Caja Dolar"
        web_icon="ext_caja_chica,static/description/icon.png"
    />
</odoo>